<div class="app-container">
  <main class="content-wrapper">
    <app-upload-cvs></app-upload-cvs>
    <footer class="app-footer">
      <div class="footer-content">
        <p>© 2026 seecvs.com. All rights reserved.</p>
        <div class="brand">
          <span>Powered by</span>
          <a href="https://platx.net" target="_blank" class="platx-link">
           <img src="https://platx.net/assets/images/logo-color.png" width="80" alt="Platx Logo" />
          </a>
        </div>
      </div>
    </footer>
  </main>
</div>
